---
import { getCollection, render } from 'astro:content';
import { FormattedDate, BindLightboxData } from '@daks.dev/astro.sdk/astro';
import { Header } from '@components/astro';
import Layout from '@layouts/Base.astro';

export async function getStaticPaths() {
  const collection = await getCollection('news');
  return collection.map((post) => {
    return {
      params: { id: post.id },
      props: { post }
    };
  });
}

const { post } = Astro.props;
const { Content } = await render(post);

const { id } = post;
const { title, description, images = [] } = post.data;
---

<Layout
  class='flex flex-col'
  title={`${title} • ${id} • СК «Масштаб»`}
  description={`${description} • ${id} • Строительная Компания «Масштаб»`}>
  <Header
    class='frame/2'
    {title}>
    <FormattedDate
      slot='tagline'
      date={id}
      parse='YY-MM-DD'
      class='text-xs uppercase bp:text-sm'
      itemprop='publishDate'
    />
  </Header>

  <main
    class='frame/2 flex grow flex-col gap-4'
    itemprop='mainContentOfPage'>
    <div class='flex gap-16 max-md:flex-col'>
      {
        post.data.images && (
          <BindLightboxData
            class={['flex flex-col gap-y-5 lg:shrink-0', 'max-md:order-last max-md:items-center']}
            custom={{
              thumb: 'max-w-fit min-w-48 first:mt-2'
            }}
            options={{ behaviour: 'loop' }}
            data={images}
            transform={{
              thumb: {
                width: 320,
                fit: 'cover',
                quality: 80
              },
              modal: {
                width: 800,
                fit: 'inside',
                quality: 80
              }
            }}
            sign={{ custom: 'iconify ph--arrows-out', dark: true }}
            {title}
            {description}
            alt={title.toLowerCase()}
            adaptive
            scale
            shadow
            rounded
          />
        )
      }
      <div class='readable'>
        <Content />
        <div
          class='text-xs'
          set:text={`[ ${id} ]`}
        />
      </div>
    </div>
  </main>
</Layout>
